body {
    background-color:bisque ;
}

.navbar {
    overflow: auto;
  }
.navbar a {
    display: inline;
    float: left;
    position: relative;
   
    
  
}
button {
    text-decoration-color: black;
    margin: 20px 5px 20px 20px;
    position: relative;
    left: 20px;    
       
}
a:link {
    
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    font-style: italic;
   
}
a:visited {
    color: red;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;

}
textarea {
    overflow: scroll;
}
